<section class="copyrightSection">
    <div class="copyRightCenter">
        <h2>Urheberrechte ©</h2>

        <div class="copyRight">
            <div class="copyBox">
                <span>Alle Icons und Bilder auf dieser Seite stammen aus folgenden Quellen:</span>
                <br><br>
                <b>Angular Material</b>
                <br>
                <a target="_blank" href="https://material.angular.io/">material.angular</a>
            </div>
        </div>
    </div>
</section>