.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.collection {
    margin-top: 20px;
    display: flex;

    mat-card {
        margin: 3px;
    }
}

.cardTable {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 300px;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;

    td {
        border-top: 0.6px solid #e0e0e0;
        border-bottom: 0.6px solid #e0e0e0;
        height: 52px;
        text-align: center;

        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

mat-button-toggle-group {
    margin-top: 20px;
}

mat-button-toggle {
    width: 100px;
}

mat-card {
    margin-top: 20px;
}