* {
    margin-top: 20;
    box-sizing: border-box;
}

:host {
    width: 400px;
    height: calc(100vh - 104px);
    display: flex;

    .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .row {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            justify-content: space-between;
            border: 1px solid #e6e6e6;
            border-bottom: none;
            border-radius: 2px;
            transition: all 124ms;

            &.odd {
                background-color: #f1f1f1;
            }

            &:hover {
                background-color: #ececec;

                .col {
                    transform: translate(10px, 0);
                    color: #282828;
                    cursor: pointer;
                }
            }

            .col {
                transition: all 124ms;
                display: flex;
                color: #565656;
                padding: 20px;
                justify-content: flex-start;
                flex-direction: row;
                justify-content: space-between;
            }
        }
    }
}